html,
body,
:root {
  height: 100%;
}

/* connect button */
[data-rk] .ju367v9c {
  background: #7263d6 !important;
  color: white !important;
  border: 1px solid whitesmoke !important;
  border-radius: 15px !important;
  padding: 10px 18px !important;
  font-size: 16px !important;
  font-family: inherit !important;
  font-weight: 600 !important;
}
[data-rk] .ju367v2b {
  height: auto !important;
}

/* date picker */
.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper {
  width: 100% !important;
}
